.email-card {
  border: #cfd2dc solid 1px;
  height: 100px;
  padding: 10px;
  display: flex;
  background-color: white;
  border-radius: 5px;
}
.email-profile {
  background-color: #e54065;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #f4f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  align-items: flex-start;
}
